{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1>Факт №3</h1>
    <p>У 1965 році вчений Гордон Мур, співзасновник компанії Intel, сформулював "Закон Мура".</p>
    <p>Цей закон передбачав подвоєння кількості транзисторів на інтегральних мікросхемах (мікропроцесорах) кожні два роки,</p>
    <p>що призводило до збільшення обчислювальної потужності.</p>
    <p>Закон Мура став важливим керованим принципом в індустрії електроніки та інформатики і продовжує діяти,</p>
    <p>хоча з часом його темпи можуть сповільнюватися через фізичні обмеження технології.</p>
    <p>Цей закон допоміг сформувати швидке зростання обчислювальної потужності комп'ютерів, яке ми спостерігаємо протягом десятиліть.</p>
    <div class="image">
        <img class="rounded" width="350" src="{{ url_for('static', filename='images/11.jpg') }}">
    </div>
</div>

<style>
    .content {
        background-color: #f2f2f2; /* Колір фону */
        text-align: center;
        line-height: 1;
    }
</style>
{% endblock %}
