{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1>Факт №2</h1>
    <p>На сьогоднішній день найпотужніший суперкомп'ютер в світі - це Fugaku, який розроблений в Японії. 
    <p>Fugaku був розроблений Японською організацією RIKEN та компанією Fujitsu, і він встановив безліч рекордів у сфері продуктивності обчислень. 
    <p>Цей суперкомп'ютер використовує технологію ARM і спеціально розроблені процесори, що робить його надзвичайно потужним у виконанні складних обчислень, 
    <p>таких як моделювання клімату, медичні дослідження та інші завдання в галузі науки та досліджень.
        <div class="image">
            <img class="rounded" width="350" src="{{ url_for('static', filename='images/13.jpg') }}">
        </div>
</div>     

<style>
    .content {
        background-color: #f2f2f2; /* Колір фону */
        text-align: center;
        line-height: 1;
    }
</style>
{% endblock %}
