{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1>Факт №1</h1>
    <p>Найстаріший відомий комп'ютерний баг в історії був зареєстрований у 1947 році в Гарвардському університеті. 
    <p>Цей баг був спричинений молів'ятами, які залізли всередину реле-обчислювача Mark II Aiken Relay Calculator. 
    <p>Комп'ютер був вимкнений через несправність, і коли інженери відкрили його, вони виявили, що баг виник через корозію електричних проводів, викликану молів'ятами. 
    <p>Цей подія стала однією з перших в історії доказів, що навіть найпотужніші обчислювальні системи можуть бути уразливими до наймінших непередбачуваних проблем.
        <div class="image">
            <img class="rounded" width="350" src="{{ url_for('static', filename='images/12.jpg') }}">
        </div>
</div>

<style>
    .content {
        background-color: #f2f2f2; /* Колір фону */
        text-align: center;
        line-height: 1;
    }
</style>
{% endblock %}
