{% extends "base.html" %}
{% block title %} Вхід {% endblock %}

{% block content %}
    <style>
        /* Стилі CSS */
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <!-- Вміст сторінки -->
    <h1>Вхід</h1>
    <form method="POST" action="{{ url_for('new_login') }}">
        <label for="username">Ім'я користувача:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Увійти</button>
    </form>
{% endblock %}
