{% extends "base.html" %}
{% block title %} Форма {% endblock %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <form action={{ url_for("form") }} method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                {{ form.password(class_="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <br>

    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Response</div>
        <div class="card-body">
            <h4 class="card-title">Success </h4>
            <p class="card-text"> {{ name }} - {{ password }} - {{ method }}</p>
        </div>
    </div>
{% endblock %}
